# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.php text

# Declare files that will always have CRLF line endings on checkout.
site/*.php text eol=crlf
site/*.js text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# DW Dreamweaver added files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno

site/templates/content/ajax/json/test-json.php
custpricecodetbl.json
salespersontbl.json
site/templates/content/ajax/json/test-json.php
site/templates/template-test.php


site/templates/redir/test-redir.php
