# DW Dreamweaver added files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno

site/templates/content/ajax/json/test-json.php
custpricecodetbl.json
salespersontbl.json
site/templates/content/ajax/json/test-json.php
site/templates/template-test.php


site/templates/redir/test-redir.php
